.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
.codacy.yml
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
README-*.md
**/xpacks/**
tests/**
node_modules/**
out/**
assets/docs-images/**

# DO NOT add node_modules with plain vsce! (with webpack you can add it)

